SUBSYSTEM=="i2c", ACTION=="add",\
  ATTR{name}=="NVIDIA i2c adapter*",\
  TAG+="ddcci",\
  TAG+="systemd",\
  ENV{SYSTEMD_WANTS}+="ddcci@$kernel.service"
